// Colors
$primary-1: #E3F2FD;
$primary-2: #FBFBFB;
$primary-3: #304FFE;

$secondary-1: #332D2D;
$secondary-2: #1A237E;
$secondary-3: #304FFE;

// Fonts
$font-title: "Work Sans", Arial, sans-serif;
$font-text: Inter, Verdana, sans-serif;

// Border
$border: 0.35rem solid $secondary-3;